* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    width: 25%;
    background-color: #E5BDC4;
    border-right: 1px solid #ddd;
    padding: 20px;
  }
  
  .main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .chatbox {
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
  
  .response {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #e6cbd0;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .input-box {
    display: flex;
    align-items: center;
  }
  
  .input-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .input-box button {
    padding: 10px 20px;
    background-color: #C99BA5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-box button:hover {
    background-color: #b5858f;
  }

  .pt-20 {
    padding-top: 20px;
  }

  